body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.navbar,
.footer {
  font-family: "Poppins", sans-serif;
}

.bg-footer {
  background-color: #15895c;
}

.nav-link.active {
  color: #15895c !important;
}

.navbar {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  background-color: white;
}

.nav-link {
  font-size: 18px;
}

.item-dropdown {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
}

.navbar-brand img {
  width: 250px;
  height: 100px;
}

@media (max-width: 991px) {
  .navbar-brand img {
    width: 190px;
    height: 76px;
  }

  .navbar-brand {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .navbar-brand img {
    width: 150px;
    height: 60px;
  }

  .navbar-brand {
    font-size: 0.8rem;
  }
}

.vh-100 {
  height: 100vh;
}

.object-fit-cover {
  object-fit: cover;
}
